/* About me Imgage */
.img {
  height: 350px !important;
}

/* Navbar Toggler */
.navbar-toggler {
  color: #0d6efd;
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-toggler.navbar-toggler {
  border-color: none !important;
  border: none
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(109, 131, 242)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* Navbar Items Letter Spacing */
.letter-spcaing {
  letter-spacing: 2px;
}


/* Blue Iamge */
.blue-image {
  width: 40%;
  position: absolute;
  top: 75px;
  right: 0px;
  z-index: -1
}
.perfect-blue {
  background-color: white;
}

/* For the placeholder */
.form-control::placeholder {
  color: black;
  opacity: 0.6;
}

/* Navabr Item */
.aboutme-fs {
  font-size: 17px;
}

/* Dark mode button */
.form-switch .form-check-input {
  width: 2.4em;
}
.form-check-input {
  height: 20px;
}

/* Download Resume Button */
.custom-btn {
  width: 190px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-design {
  border: none;
  color: #000;
}

.btn-design:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-design:hover {
  color: #000;
}

.btn-design:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-design:active {
  top: 2px;
}


/* ------------------------------------------------ */


/* Media Queries */
/* For I-Phones */

@media only screen and (max-width: 384px) {
  .query-textcenter-md {
    display: block !important;
  }

  /* Margins from top for both blocks */
  .margin-top {
    margin-top: 6rem;
  }

  .query-textcenter {
    text-align: center;
  }

  .blue-image {
    width: 40%;
    position: absolute;
    top: 56px;
    right: 0px;
    z-index: -1
  }

  .img {
    height: 300px !important;
  }

  /* Contact full width.. NEM */
  .full-widht {
    width: 100% !important;
  }

  /* Portfolio font size */
  .port {
    font-size: 20px !important;
  }

  .folio {
    font-size: 20px !important;
  }

  .navbar-items {
    font-size: 16px !important;
  }

  .fontsize-arslan {
    font-size: 32px !important;
  }

  .fs_creative {
    font-size: 17px !important;
  }

  .json-text {
    font-size: 14.5px !important;
  }

  .json-text-ntas-smallscreen {
    font-size: 13.5px !important;
  }

  .json-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-npem {
    font-size: 17px !important;
  }

  .json-margin {
    margin-left: none !important;
  }
}

/* For Smartphone */

@media only screen and (min-width: 385px) and (max-width: 767px) {
  .query-textcenter-md {
    display: block !important;
  }

  .query-textcenter {
    text-align: center;
  }

  .margin-top {
    margin-top: 6rem;
  }

  .fontsize-arslan {
    font-size: 38px !important;
  }

  .text-adjustment {
    font-size: 1.1rem !important;
  }

  .json-text {
    font-size: 15.5px !important;
  }

  .json-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-npem {
    font-size: 17px !important;
  }

  .blue-image {
    width: 40%;
    position: absolute;
    top: 56px;
    right: 0px;
    z-index: -1
  }

  /* Contact full width.. NEM */
  .full-widht {
    width: 100% !important;
  }

  /* Portfolio font size */
  .port {
    font-size: 20px !important;
  }

  .folio {
    font-size: 20px !important;
  }

  .navbar-items {
    font-size: 16px !important;
  }

  .json-margin {
    margin-left: none !important;
  }

}


/* Adjusting -Javascript in json- for tablet*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* For aboutme */
  .aboutme-query {
    font-size: 14px;
  }

  .margin-top-query {
    margin: none !important;
  }

  .json-middle {
    position: relative;
    bottom: 40px;
    left: 30px;
  }

  .position-for-contact {
    position: relative;
    top: 110px;
  }

  .reach-me {
    position: relative;
    left: 100px;
  }

  .json-text {
    font-size: 14.5px !important;
  }

  .text-adjustment {
    font-size: 1.1rem !important;
  }

  .fontsize-arslan {
    font-size: 33px !important;
  }

  .json-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .json-width-contact {
    width: 40%;
  }

  .json-width-contact {
    width: 50%;
    font-size: 14px !important;
  }

  .aboutme-btntopmargin {
    margin-top: 0px !important;
  }

  .blue-image {
    width: 40%;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: -1
  }

  .md_small_button {
    font-size: 14px !important;
  }

  .custom-btn {
    width: 160px;
  }

  .md_social_icon {
    font-size: 1.7rem !important;
  }

  /* Portfolio font size */
  .port {
    font-size: 20px !important;
  }

  .folio {
    font-size: 20px !important;
  }

  .navbar-items {
    font-size: 16px !important;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

  
  /* For aboutme */
  .aboutme-query {
    font-size: 14px;
  }

  .margin-top-query {
    margin: none !important;
  }

  .json-middle {
    position: relative;
    bottom: 30px;
    left: 30px;
  }

  .position-for-contact {
    position: relative;
    top: 110px;
  }

  .reach-me {
    position: relative;
    left: 100px;
  }

  .json-text {
    width: 62%;
    font-size: 14.5px !important;
  }

  .text-adjustment {
    font-size: 1.1rem !important;
  }

  .fontsize-arslan {
    font-size: 33px !important;
  }

  .json-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .json-width-contact {
    width: 40%;
    font-size: 14px !important;
  }

  .blue-image {
    width: 40%;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: -1
  }

  .md_small_button {
    font-size: 14px !important;
  }

  .custom-btn {
    width: 160px;
  }

  .md_social_icon {
    font-size: 1.7rem !important;
  }

  /* Portfolio font size */
  .port {
    font-size: 20px !important;
  }

  .folio {
    font-size: 20px !important;
  }

  .navbar-items {
    font-size: 16px !important;
  }
}


@media only screen and (min-width: 1201px) {

  
  /* For aboutme */
  .aboutme-query {
    font-size: 14px;
  }

  .margin-top-query {
    margin: none !important;
  }

  .json-middle {
    position: relative;
    bottom: 30px;
    right: 30px;
  }

  .position-for-contact {
    position: relative;
    top: 110px;
  }

  .reach-me {
    position: relative;
    left: 100px;
  }

  .json-text {
    width: 50%;
    font-size: 14.5px !important;
  }

  .text-adjustment {
    font-size: 1.1rem !important;
  }

  .json-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .json-width-contact {
    width: 35%;
    font-size: 15px !important;
    position: relative !important;
    bottom: 30px !important;
    left: 7rem !important;
  }

  .blue-image {

    width: 40%;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: -1;
    height: 650px !important;
  }

  .md_small_button {
    font-size: 14px !important;
  }

  .custom-btn {
    width: 160px;
  }

  .md_social_icon {
    font-size: 1.7rem !important;
  }

  /* Portfolio font size */
  .port {
    font-size: 20px !important;
  }

  .folio {
    font-size: 20px !important;
  }

  .navbar-items {
    font-size: 16px !important;
  }

  .img {
    height: 300px !important;
  }

  .fontsize-arslan {
    font-size: 2.5rem !important;
  }
  .fs_creative {
    font-size: 1.2rem !important;
  }
  .screen-height{
    height: 600px !important;
  }
  .nem-lg{
    font-size: 1.1rem !important;
  }
}

